.columnListItem {
  padding: 5px;
  border: 2px solid #021e18;
  background: #1088a0;
  color: #fff;
  cursor: pointer;
}

.columnListItem:hover {
  background: #fff;
  color: #348b3a;
  font-weight: 600;
}
